
<div class="row mt-1">
  <div class="col-xs">
    <h4>Playlisty</h4>

    <div class="form-group">
      <button class="btn btn-success float-xs-right" (click)="createNew($event)">Nowa Playlista</button>
    </div>
  </div>
  <div class="col-xs">


    <div [ngSwitch]="mode">
      <content-card title="Playlista" *ngSwitchDefault>
          <p>Wybierz <b>playlistę</b>!</p>
      </content-card>


      <content-card title="Playlista {{selected.name}}"  *ngSwitchCase="'selected'">
        <playlist-detail [playlist]="selected" (editplaylist)=" edit($event)"></playlist-detail>
      </content-card>


      <content-card title="Playlista {{selected.name}} - edycja"  *ngSwitchCase="'edit'">
         <playlist-form [playlist]="edited" (saved)="save($event)" ></playlist-form>
      </content-card>

    </div>


  </div>
</div>

<div class="row mt-1">
  <div class="col-6">

    <h2>First-Component</h2>
    <input type="checkbox" [(ngModel)]="showComponent1">
    <my-component *ngIf="showComponent1">
    </my-component>
  </div>

  <div class="col-6">
    <h2>Second-Component</h2>
    <input type="checkbox" [(ngModel)]="hideComponent2">
    <my-component [hidden]="hideComponent2">
    </my-component>

  </div>
</div>
